<div class="push-out">
  <h1>Welcome to the Fathym Forge - Solution Marketplace</h1>

  <div *ngIf="!HasSolutions"><p class="mat-body-3">To get started, Add a New Solution.</p></div>

  <mat-tab-group #tabs="matTabGroup">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>add</mat-icon>

        New Solutions
      </ng-template>

      <div class="push-out" *ngIf="!Loading">
        <h3>Browse Available Solutions for your Enterprise</h3>

        <mat-tab-group>
          <ng-container *ngFor="let option of SolutionOptions">
            <mat-tab *ngIf="HasAnyAvailable(option)">
              <ng-template mat-tab-label>
                <mat-icon>{{ option.Icon }}</mat-icon>

                {{ option.Name }}
              </ng-template>

              <mat-nav-list>
                <ng-container *ngFor="let module of option.Modules">
                  <mat-list-item *ngIf="!IsExisting(module?.Control)" (click)="Save(module)">
                    <a matLine> Select - {{ module.Name }} </a>

                    <p matLine class="mat-body-1">Future description</p>
                  </mat-list-item>
                </ng-container>
              </mat-nav-list>
            </mat-tab>
          </ng-container>
        </mat-tab-group>
      </div>
    </mat-tab>

    <mat-tab *ngIf="HasSolutions">
      <ng-template mat-tab-label>
        <mat-icon>edit</mat-icon>

        Solutions
      </ng-template>

      <div class="push-out" *ngIf="!Loading">
        <h2>Edit Existing Solutions</h2>

        <mat-nav-list>
          <mat-list-item *ngFor="let sln of OrderedConfigs">
            <a matLine [routerLink]="['/solutions', sln.Control.Base, sln.Control.Type, 'overview']">{{ sln.Title }}</a>

            <button mat-icon-button (click)="ToggleFavorite(sln)">
              <mat-icon *ngIf="sln.Favorite">star</mat-icon>

              <mat-icon *ngIf="!sln.Favorite">star_border</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="RemoveSolution(sln)"><mat-icon>delete</mat-icon></button>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-spinner *ngIf="Loading"></mat-spinner>
</div>
