@import "../../common/src/styles/theme";

@mixin forge-pages($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .pages {
  }
}

@include forge-theme($forge-app-theme);

@include forge-pages($forge-app-theme);
